<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.judicialexpertise"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity android:name="com.example.judicialexpertise.Main" />
        <activity android:name="com.example.judicialexpertise.Register" />
        <activity android:name="com.example.judicialexpertise.PreAcceptance" />
        <activity android:name="com.example.judicialexpertise.Examine" />
        <activity android:name="com.example.judicialexpertise.Delay" />
        <activity android:name="com.example.judicialexpertise.DelayApply" />
        <activity android:name="com.example.db.Test"></activity>
        <activity android:name="com.example.judicialexpertise.PersonalCenter"></activity>
        <activity android:name="com.example.judicialexpertise.Termination"></activity>
        <activity android:name="com.example.judicialexpertise.Account"></activity>
        <activity android:name="com.example.judicialexpertise.Caseinquiry"></activity>
        <activity android:name="com.example.judicialexpertise.Closed"></activity>
        <activity
            android:name=".Login"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
